body{
    background-color: #E1E1E1;
    
    font-family: 'Coda' ;
}

#main-container-header{
    margin-bottom: -1px;
    padding: 12px;
    border-style: solid;
    border-color: #151515;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-width: 6px;
    font-family: 'Inconsolata' ;
    text-align: center;
    color: white;
    background-color: #3CA9FF;
}

#upper-pad{
    height: 80px;
}

#left{
    border-style: solid;
    border-bottom-left-radius: 24px;
    border-color: #151515;
    border-width: 6px;
    background-color: #3CA9FF;
}
#right{
    border-style: solid;
    border-width: 6px;
    border-bottom-right-radius: 24px;
    border-color: #151515;
    background-color: #3CA9FF;
}

#planDiv{
    border-style: solid;
    border-radius: 24px;
}

#today{
    font-family: 'Coda' ;
    margin: 46px;
    text-align: center;
    font-size: 3em;
    border-style: solid;
    border-radius: 18px;
    border-color: #151515;
    background-color: white;
}

#calenderContainer{
    max-height: 328px;
    overflow: scroll;
    margin: 46px;
    text-align: center;
    font-size: 1.5em;
    border-style: solid;
    border-radius: 18px;
    border-color: #151515;
    background-color: white;
}
